.criterionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.criterion {
  width: 100%;
  max-width: 1000px;
}

.textarea {
  margin-top: var(--a-spacing-6);
}

.criterionHelpText {
  display: flex;
  flex-direction: column;
}
