.adminMail{
    padding-left: 5px;
    font-family: var(--a-font-family);
    font-size: 22px;
}

.membersList{
    list-style: none;
    text-align: left;
    padding-left: 5px;
    font-family: var(--a-font-family);
    font-size: 22px;
}

.gridWrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 1000px;
    display: grid;
    gap: 16px;
    grid-template-areas: 
    'mid mid mid mid mid2'
    'bot bot bot bot bot'
    ;
}

.gridWrapper > section, article{
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    box-shadow: var(--a-shadow-small);
}

.accessibilityStatusContainer{
    min-height: 400px;
    grid-area: mid;
}

.accessibilityStatusInner{
    min-height: 80%;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.chartContainer{
    margin: auto;
}

.selectReportContainer{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 10px 15px 10px;
    box-shadow: var(--a-shadow-xsmall);
    border-radius: 10px;
    min-width: 20%;
    margin-top: 20px;
}

.membersContainer{
    min-height: 400px;
    grid-area: mid2;
    display: flex;
    flex-direction: column;
}

.editTeamBtn{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.reportsContainer{
    min-height: 120px;
    grid-area: bot;
}
