

.membersList{
    list-style: none;
}


.addStatementBtn{
    margin-top: 52px;
    margin-bottom: 20px;
}

.gridWrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 1000px;
    display: grid;
    gap: 16px;
    grid-template-areas: 
    'top top top top top'
    'mid mid mid mid mid2'
    'bot bot bot bot bot'
    ;
}

.gridWrapper > section, article{
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    box-shadow: var(--a-shadow-small);
}

.lastChanges{
    min-height: 80px;
    grid-area: top;
}

.accessibilityStatusContainer{
    min-height: 400px;
    grid-area: mid;
}

.accessibilityStatusInner{
    min-height: 80%;
    display: flex;
    flex-direction: row;
}

.selectReportContainer{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 10px 15px 10px;
    box-shadow: var(--a-shadow-xsmall);
    border-radius: 10px;
    min-width: 20%;
    margin-top: 20px;
}

.membersContainer{
    min-height: 400px;
    grid-area: mid2;
}

.reportsContainer{
    min-height: 120px;
    grid-area: bot;
}
