.teamDashboard {
  display: flex;
  flex-direction: column;
}

.pieChart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: var(--a-shadow-small);
  padding: 16px;
  flex: 1;
  min-width: 0;
  margin-right: 20px;
  overflow-x: auto;
}

.pieChart>fieldset {
  flex-shrink: 0;
  min-width: 150px;
}

.teamHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.teamInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  border-radius: 1rem;
  box-shadow: var(--a-shadow-small);
  padding: 16px;
  width: 320px;
  flex-shrink: 0;
}

.divider {
  margin-top: 20px;
}

.memberList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.teamInfoHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}

.chartAndInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}

.reportList {
  background-color: white;
  border-radius: 1rem;
  box-shadow: var(--a-shadow-small);
  padding: 16px;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .chartAndInfo {
    flex-direction: column;
  }

  .pieChart {
    flex-direction: column;
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
  }

  .teamInfo {
    margin-top: 20px;
    width: 100%;
  }

  .teamHeader {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}