.teamDashboard {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1280px;
}

.pieChart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 1rem;
  box-shadow: var(--a-shadow-small);
  padding: 16px;
  width: 70%;
  margin-right: 20px;
}

.teamHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.teamInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  border-radius: 1rem;
  box-shadow: var(--a-shadow-small);
  padding: 16px;
  width: 30%;
}

.divider {
  margin-top: 20px;
}

.memberList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.teamInfoHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chartAndInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}

.reportList {
  background-color: white;
  border-radius: 1rem;
  box-shadow: var(--a-shadow-small);
  padding: 16px;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .chartAndInfo {
    flex-direction: column;
  }

  .pieChart {
    flex-direction: column;
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
  }

  .teamInfo {
    margin-top: 20px;
    width: 100%;
  }
}
