.reportContent {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: var(--a-shadow-small);
  background-color: var(--a-white);
  border-radius: 1rem;
  padding: 20px;
}
.reportFilters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem 0;
  align-self: auto;
}

.criteriaList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: start;
}

.reportContent h1 {
  align-self: center;
}
.filtersAndButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.metadata {
  margin-bottom: 3rem;
}

.tabListButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .reportContent {
    padding: 16px;
  }

  .tabListButton {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
