---
import { getOboToken } from '../../utils/server/getOboToken';
import { apiUrl } from '../../utils/server/urls';
import { Button } from '@navikt/ds-react';

const oboToken = await getOboToken(Astro.locals.token);

const response = await fetch(`${apiUrl}/api/users/details`, {
  method: "GET",
  headers: {
    'Content-Type': 'application/json',
    Accept: 'application/json',
    Authorization: `Bearer ${oboToken}`,
  },
  // @ts-expect-error - This is a valid option
  duplex: 'half',
});

const data = await response.json();
---

<div>
  <Button>Aksel button!</Button>
  <p>Email: {data.email}</p>
</div>