---
import Layout from '../../layouts/Layout.astro';
import TeamDashboard from '@components/teamDashboard/TeamDashboard';
import styles from './_[teamId].module.css';
---

<Layout>
  <main class={styles.content}>
    <TeamDashboard
      teamId={Astro.params.teamId as string}
      isMyTeam={false}
      client:only="react"
    />
  </main>
</Layout>
