.currentMembersList{
    list-style: none;
    font-size: 20px;
}

.currentMembersListItem{
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}

.currentMembersListItem:hover{
    background-color: lightgray;
}

.modalFields{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }