/*  Styling under er det som vises hvis en bruker ikke er med i noe team   */

.section1 {
  width: 100%;
  background-color: white;
  height: auto;
  min-height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.innerSection1 {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.text {
  text-wrap: balance;
  font-size: 20px;
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 30vh;
  height: auto;
  align-items: center;
}

.article {
  padding: 1rem 0 0 1rem;
  background-color: white;
  border-radius: 1rem;
  width: 30%;
  min-height: 10rem;
  box-shadow: var(--a-shadow-small);
}

.verktoyTekst {
  font-size: 20px;
}