.headingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 16px 0;
  max-width: 632px;
}

.headingWrapper h1 {
  color: var(--a-text-default);
  margin-bottom: 10px;
}

.utkastWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.utkast h1 {
  color: var(--a-text-default);
}

.ingress {
  color: var(--a-text-default);
}
