
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}



.headings {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
    padding-left: 50px;

}

.content {

    text-align: center;
}

.btn {
    margin: auto;
}
.rightAligned {
    display: block;
    align-items: center;
}




