.content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--a-shadow-small);
  padding: 20px;
}

.btn {
  margin: auto;
}

.headingAndButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.buttonAsLink {
  color: var(
    --ac-button-primary-text,
    var(--__ac-button-primary-text, var(--a-text-on-action))
  );
  text-decoration: none;
}

@media (max-width: 768px) {
  .headingAndButton {
    flex-direction: column;
    gap: 20px;
  }

  .content {
    padding: 16px;
  }
}
