.content {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--a-shadow-small);
  max-width: 1280px;
}

.h1 {
  color: var(--a-blue-800);
}

.btn {
  margin: auto;
}
.search {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.headingAndButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
  width: 66%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
