---
import Layout from '../layouts/Layout.astro';
import AllReportsList from '@components/ReportList/AllReportsList';
import styles from './_rapporter.module.css';
---

<Layout>
  <h1 class={styles.h1}>Alle rapporter</h1>
  <section class={styles.content}>
    <!--
        <div class={styles.search}>
            <Searchbar client:only="react"/>
        </div>
         -->
    <AllReportsList client:only="react" />
  </section>
</Layout>
