---
import Layout from '../layouts/Layout.astro';
import ServerIsland from '../components/experimental/ServerIsland.astro';
---

<Layout>
  <h1>Server Island</h1>
  <ServerIsland server:defer>
    <div slot="fallback">Loading...</div>
  </ServerIsland>
</Layout>
