---
import styles from "./_rapportlisteSide.module.css";
import {Button, Heading} from "@navikt/ds-react";
import Layout from "../layouts/Layout.astro";
---
<Layout>

    <header class={styles.headings}>
        <Heading size="xlarge">a11y</Heading>
        <Heading size="large">Rapporteringsverktøy for NAV</Heading>
        <Button class={styles.btn} variant="secondary">Lag ny erklæring</Button>
    </header>

    <section class={styles.content}>

    </section>
</Layout>