---

import Layout from "../layouts/Layout.astro";
import RapportListe from "../components/rapportListe"
import SamletListe from "../components/samlerapporter";
import { Link } from "@navikt/ds-react";
import styles from "./_index.module.css"


---

<Layout>
    <div className={styles.header}>
        <h1>a11y</h1 >
    </div>
    <div className={styles.headings}>
    <h2>Rapporteringsverktøy for NAV</h2>

    <h3>Rapporter for enkeltsider</h3>
    </div>
    <Link className={styles.button} href="#">Lag ny erklæring</Link>
    <RapportListe client:only="react" />
    <h3>Samlerapporter</h3>
    <SamletListe client:only="react" />
</Layout>
