---
import Layout from "../layouts/Layout.astro";
import TeamListe from "../components/teamliste/TeamListe";
import styles from "./_organisasjonsenhet.module.css"
import { Button } from "@navikt/ds-react";
import { PersonPlusIcon } from '@navikt/aksel-icons';
import AddOrgBtn from "../components/AddOrgBtn";
---
<Layout>
    <header className={styles.orgHeader}>
        <h1 className={styles.h}>Organisasjonsenhet</h1>
        <AddOrgBtn/>
    </header>
    <TeamListe client:only="react"/>
</Layout>