---
import Layout from "../layouts/Layout.astro";
import TeamListe from "../components/teamliste/TeamListe";
import styles from "./_organisasjonsenhet.module.css"

import ModalElement from "../components/Modal/Modal";

---
<Layout>
    <header class={styles.orgHeader}>
        <h1 class={styles.h}>Organisasjonsenhet</h1>
        <!--<ModalElement client:only="react" />-->
        <!--<AddOrgBtn onclick="ModalElement" />-->
    </header>
    <TeamListe client:only="react"/>


</Layout>