---
import Layout from "../layouts/Layout.astro";
import TeamListe from "../components/teamliste/TeamListe";
import styles from "./_organisasjonsenhet.module.css"
---
<Layout>
    <h1 className={styles.orgHeader}>Organisasjonsenhet</h1>
    <TeamListe client:only="react"/>
</Layout>