---
import Layout from "../layouts/Layout.astro";
import TeamListe from "../components/teamliste/TeamListe";
import styles from "./_organisasjonsenhet.module.css"



---
<Layout>
    <header class={styles.orgHeader}>
        <h1 class={styles.h}>Organisasjonsenhet</h1>

    </header>
    <TeamListe client:only="react"/>


</Layout>