---
import Layout from '../layouts/Layout.astro';
import TeamListe from '../components/teamliste/TeamListe';
import styles from './_rapporter.module.css';
import NewTeamModal from '@components/Modal/TeamModals/NewTeamModal';
---

<Layout>
  <header class={styles.headingAndButton}>
    <h1>Alle teams</h1>
    <NewTeamModal client:only />
  </header>
  <TeamListe client:only="react" />
</Layout>
