---
import { apiUrl } from '../../utils/server/urls';
import { getOboToken } from '@src/utils/server/getOboToken';

const oboToken = await getOboToken(Astro.locals.token);

const response = await fetch(`${apiUrl}/api/users/details`, {
  method: 'GET',
  headers: {
    'Content-Type': 'application/json',
    Accept: 'application/json',
    Authorization: `Bearer ${oboToken}`,
  },
  // @ts-expect-error - This is a valid option
  duplex: 'half',
});

const data = await response.json();
---

<p>
  Innlogget som <strong>{data.email}</strong>
</p>
