.list {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 40px;
  text-align: left;
  grid-row-gap: 30px;
  list-style: none;
}

.listItem {
  font-size: 20px;
}

.wrapper {
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--a-shadow-small);
  padding: 16px;
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: auto auto;
  }

  .wrapper {
    padding: 10px;
  }
}
