---
import Navbar from '../components/Navbar'
import styles from './Layout.module.css'
---
<!doctype html>
<html lang="no">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>a11y rapportering</title>
    <link rel="preload" href="https://cdn.nav.no/aksel/@navikt/ds-css/6.10.0/index.min.css" as="style" />
    <link rel="stylesheet" href="https://cdn.nav.no/aksel/@navikt/ds-css/6.10.0/index.min.css" />
</head>
<body class="main">
<Navbar userMail = "eksempel.profil@nav.no"/>
<div>
    <slot />
</div>
</body>
</html>