html {
  background-color: var(--a-gray-100);
}

html,
body {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 80vh;
}

@media (max-width: 768px) {
  .page {
    padding-left: 16px;
    padding-right: 16px;
    overflow-x: hidden;
  }
}
