html{
    background-color: var(--a-gray-100);
}

html, body {
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.main {
    padding: 20px;
    height: 200vh;
}

.page {
    width: 100%;
    height: auto;
    min-height: 70%;
}
