html {
  background-color: var(--a-gray-100);
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  word-break: break-all;
}

@media (max-width: 768px) {
  .main {
    padding-left: 16px;
    padding-right: 16px;
  }
}
